In [1]:
def msg():
    print("this is ram here")

In [2]:
msg()

this is ram here

In [3]:
def greet(name):
    print("Good Morning : ",name)

In [4]:
greet("ram")

Good Morning :  ram

In [9]:
def demo(name):
    print(name + " "+  "Sharma")

In [13]:
demo("ajay")
demo("sahdev")
demo("ram")

ajay Sharma
sahdev Sharma
ram Sharma

In [16]:
def sum(a,b):
    c=a+b
    print("Sum",c)

In [17]:
sum(12,23)

Sum 35

In [18]:
def contact():
    print("Aks University,Satna")
    print("Address - Sherganj satna (MP)")
    print("Email - aks@gmail.com")
    print("contact - 000000000")

In [19]:
contact()

Aks University,Satna
Address - Sherganj satna (MP)
Email - aks@gmail.com
contact - 000000000

In [21]:
for i in range(3):
    a=input("Enter Name")
    b=input("Age")
    c=input("Enter Hindi Marks")
    d=input("Enter Math Marks")
    print("Name : ",a)
    print("Age : ",b)
    print("Hindi Marks : ",c)
    print("Math Marks : ",d)
    contact()

Enter Nameram
Age23
Enter Hindi Marks90
Enter Math Marks89
Name :  ram
Age :  23
Hindi Marks :  90
Math Marks :  89
Aks University,Satna
Address - Sherganj satna (MP)
Email - aks@gmail.com
contact - 000000000
Enter Nameashok
Age34
Enter Hindi Marks45
Enter Math Marks45
Name :  ashok
Age :  34
Hindi Marks :  45
Math Marks :  45
Aks University,Satna
Address - Sherganj satna (MP)
Email - aks@gmail.com
contact - 000000000
Enter Nameajay
Age34
Enter Hindi Marks34
Enter Math Marks32
Name :  ajay
Age :  34
Hindi Marks :  34
Math Marks :  32
Aks University,Satna
Address - Sherganj satna (MP)
Email - aks@gmail.com
contact - 000000000

In [ ]:
def electricitybill(n):
    if n<500:
        print("you have to pay"+n*5)
    elif n>500 and n<=700:
         print("you have to pay"+n*10)
    else:
         print("you have to pay"+n*20)

In [42]:
for i in range(2):
     a=input("Enter Name")
     n=int(input("Enter Unit"))
     
     print("Name is : ",a)
     electricitybill(n)

Enter Nameram
Enter Unit500
Name is :  ram
you have to pay 10000
Enter Nameashok
Enter Unit7005
Name is :  ashok
you have to pay 140100

In [46]:
l=[1,2,3,4,5,6,7,8,9]
a=0
for i in l:
    a=a+i
    i=i+1
print(a)

45

In [48]:
l=[1,2,3,4,5]
a=1
for i in l:
    a=a*i
    i=i+1
print(a)

120

In [51]:
a=input("enter first")
b=input("enter second")
c=input("enter third")
d=input("enter fourth")
e=input("enter fifth")

t=(a,b,c,d,e)
t

enter firsta
enter secondb
enter thirdx
enter fourthf
enter fifthr

('a', 'b', 'x', 'f', 'r')

In [50]:
t

('r', 'e', 'w', 'q', 't')