In [1]:
import pandas as pd

In [7]:
a=pd.Series([1,2,3,4],index = ['a','b','c','d'])
a

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
type(a)

pandas.core.series.Series

In [8]:
b=pd.Series({"name":"ram","age":23})
b

name    ram
age      23
dtype: object

In [9]:
a=pd.Series([1,2,3,4,5,6,7,8,9])
a

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [10]:
a[5]

6

In [13]:
a[-4:]

5    6
6    7
7    8
8    9
dtype: int64

In [14]:
a[:3]

0    1
1    2
2    3
dtype: int64

In [15]:
a[1:4]

1    2
2    3
3    4
dtype: int64

In [16]:
a[::-1]

8    9
7    8
6    7
5    6
4    5
3    4
2    3
1    2
0    1
dtype: int64

In [20]:
b=pd.Series([1,2,3,4,5,6,7,8,9])
c=a+b
c

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
dtype: int64

In [22]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df
type(df)

pandas.core.frame.DataFrame

In [31]:
data = {
    "Name" : ["ram","shyam","ashok"],
    "age" : [1,2,3],
    "Salary" : [12,23,34],
    "city" : ["ckt","satna","panna"]
}
df = pd.DataFrame(data)
df

    Name  age  Salary   city
0    ram    1      12    ckt
1  shyam    2      23  satna
2  ashok    3      34  panna

In [42]:
print(df.loc[0:4,("Name","age","alary")])

KeyError: "['salary'] not in index"

In [40]:
print(df.iloc[0:3,0:2])

    Name  age
0    ram    1
1  shyam    2
2  ashok    3